.modal {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	// display: none;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__container {
	background-color: var(--bg-white);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 30px;
	width: 95%;
	max-width: 500px;
	max-height: 100vh;
	overflow-y: auto;
}

.modal__header {
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	position: relative;

	h3.modal__sqm {
		font-style: italic;
		font-weight: 500;
		margin: 0;
	}

	h2.modal__title {
		color: var(--bg-blue);
		margin-bottom: 0;
		
		&.available,
		&.sold,
		&.booked,
		&.under-offer {
			&::before {
				border-radius: 5px 0 0 0;
				color: var(--bg-blue);
				display: inline;				
				padding: 5px;
				margin: 0 10px 10px 0;
				font-size: 1rem;
				position: absolute;
				top: -50px;
				left: -30px;
			}
		}
		&.available {
			&::before {
				content: "Available";
				background-color: var(--bg-available);
			}
		}
		&.sold {
			&::before {
				content: "Sold";
				background-color: var(--bg-sold);
			}
		}
		&.booked {
			&::before {
				content: "Booked";
				background-color: var(--bg-booked);
			}
		}
		&.under-offer {
			&::before {
				content: "Under Offer";
				background-color: var(--bg-under-offer);
			}
		}
	}

	.modal__close {
		background-color: var(--bg-amenity);
		color: var(--bg-black);
		border: 0;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		position: absolute;
		top: -40px;
		right: -15px;
		transition: var(--transition);

		&:before {
			content: "\2715";
			font-size: 1.5rem;
			font-weight: 700;
		}
	
		&:hover {
			background-color: var(--bg-black);
			color: var(--bg-white);
			cursor: pointer;
		}
	}
}

.modal__content {
	margin: 0 0 30px 0;
	line-height: 1.5;
	color: var(--bg-black);
	
	h3.modal__price {
		color: var(--bg-blue);
		margin-bottom: 0;
	}
	
	p {
		margin: 0;
	}
}

a.modal__btn {
	font-size: .875rem;
	font-weight: 600;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: var(--bg-amenity);
	color: var(--bg-black);
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--transition);

	&:hover {
		background-color: var(--bg-black);
		color: var(--bg-white);
	}
}


// 
// Animation Style
// 
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;

}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}